body {
  background-color: white;
}
.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.nav-left {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}
.flexbox-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.aboutText {
  font-size: 1.5em;
  border: 5px solid rgb(237, 235, 235);
  border-radius: 5px;
  padding: 5px;
  height: 300px;
  width: 500px;
  background-color: whitesmoke;
}
.projects {
  margin-left: 200px;
  font-size: 1.5em;
  border: 5px solid rgb(237, 235, 235);
  border-radius: 5px;
  padding: 5px;
  padding-top: 0px;
  height: 100px;
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
  text-align: center;
}
.projectsText {
  text-align: center;
  border-radius: 10px;
  margin: auto;
  display: block;
}
.projectsText:hover {
  background-color: gray;
}
.projects a:nth-of-type(odd) {
  background-color: white;
}
.welcome {
  font-size: 5em;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 350px;
}
