div .skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 15rem;
  padding-bottom: 10rem;
  background-color: var(--site-bg);
}
.skills__header h2 {
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin-bottom: 2rem;
}
.skills__cards {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: 3rem;
}
@media (max-width: 1660px) {
  .skills__cards {
    grid-template-columns: repeat(2, 0fr);
  }
}
@media (max-width: 990px) {
  .skills__cards {
    grid-template-columns: repeat(2, 0fr);
    gap: 1rem;
  }
}